<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">
        
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>    

    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
           <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.mashable.assignment</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    
    <!-- <security-constraint>
      <web-resource-collection>
        <web-resource-name>REST calls</web-resource-name>
        <url-pattern>/*</url-pattern>
        <http-method>GET</http-method>
		<http-method>POST</http-method>
		<http-method>PUT</http-method>
		<http-method>DELETE</http-method>
     </web-resource-collection>
      <auth-constraint>
          <role-name>todoAppUser</role-name>
      </auth-constraint>
  </security-constraint>
  
  <security-role>
    <role-name>todoAppUser</role-name>
</security-role>
  	
  <login-config>
		<auth-method>BASIC</auth-method>
		 <realm-name>MyUserDatabase</realm-name>
  </login-config>  -->
    
</web-app>
